/* SHRIFT */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #6e728e;
  --bg-color: #a2a7f0;
  --light-black-color: #4a4d60;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 14px;
  display: inline-block;
  width: 100%;
  color: #fff;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
}

.button-active {
  background: #fff;
  color: var(--bg-color);
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}


/* MAIN-CONTENT */
.main-content {
  padding-top: 70px;
  padding-bottom: 100px;
  flex-grow: 1;
  background-color: #f7f7fe;
  background-image: url("../img/design-left.svg"),url("../img/design-right.svg") ;
  background-repeat: no-repeat;
  background-position: left 0 bottom -300px, right -100px top -100px;
}

.site-header {
  padding-top: 0;
  padding-bottom: 65px;
  text-align: center;
}

.site-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  color: var(--text-color);
}

.pricing-toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-toggle-link {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.6;
}

.pricing-toggle-link:not(:last-child) {
  margin-right: 24px;
}

.pricing-toggle-switch {
  margin-right: 24px;
  display: flex;
  width: 56px;
  padding: 4px;
  border-radius: 16px;
  background-color: var(--bg-color);
}

.toggle-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.toggle-button-active {
  background-color: #fff;
}

.main {
  display: flex;
  justify-content: center;
}

.pricing-categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.card {
  max-width: 350px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  color: var(--text-color);
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
}

.card-active {
  padding-top: 55px;
  padding-bottom: 55px;
  color: #fff;
  background: linear-gradient(135deg, #A2A7F0 0.05%, #696EDD 100.05%);
}

.pricing-title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  line-height: 28px;
}

.price {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.price-currency-type {
  margin-right: 8px;
  font-size: 40px;
}

.price-value {
  margin: 0;
  font-size: 72px;
  line-height: 71px;
}

.conditions-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conditions {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-top: 1px solid var(--text-color);
}

.conditions:last-child {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 32px;
}
